.member_social_plugin li {
  display: inline;
  float: left;
  margin-right: 5px;
}

.social_plugin_facebook a {
  width:30px;
  height:30px;
  border-radius: 50%;
  background: #333;
  display: block;
}
.social_plugin_facebook a:hover {
  background: #0059B3;
}

.social_plugin_twitter a {
  width:30px;
  height:30px;
  border-radius: 50%;
  background: #333;
  display: block;
}
.social_plugin_twitter a:hover {
  background: #00CCFF;
}

.social_plugin_img {
  width:20px;
  height:20px;
  padding: 5px;
}
